*               text=auto
*.bmp           binary
*.cat           -text
*.dll           binary
*.fnt           binary
*.icns          binary
*.ico           binary
*.inf           -text
*.jpg           binary
*.pdf           binary
*.png           binary
*.svg           binary
*.sys           binary
*.vcproj        -text
*.wav           binary
*.xcf           binary
rockpod/.backups/simulator/ipod-320x240/20260721-154119/.rockbox/wps/iPoneD-ipone_prev-436848/RightPaneVideo.rbvp filter=lfs diff=lfs merge=lfs -text
rockpod/.backups/simulator/ipod-320x240/20260721-154119/.rockbox/wps/ipone_preview/RightPaneVideo.rbvp filter=lfs diff=lfs merge=lfs -text
