CONFIG_ARCH_S5L87XX=y
CONFIG_CPU_S5L8702=y
CONFIG_CPU_ARM926T=y
CONFIG_S5L8702_N25_EARLY_LCD_BREADCRUMB=y
# CONFIG_ARCH_MULTI_V7 is not set
CONFIG_AEABI=y
CONFIG_CMDLINE="console=ttySAC0,57600 earlycon=s5l,mmio32,0x3cc00000 rdinit=/init loglevel=8 panic=5"
CONFIG_CMDLINE_FORCE=y
CONFIG_EARLY_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_S5L8702_TIMER=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_PHY_S5L8702_USB2=y
# CONFIG_USB is not set
CONFIG_USB_GADGET=y
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_PERIPHERAL=y
CONFIG_USB_G_SERIAL=y
CONFIG_TTY=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_UNIX98_PTYS=y
CONFIG_DEVPTS_FS=y
CONFIG_TMPFS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BINFMT_ELF=y
# CONFIG_BINFMT_SCRIPT is not set
# CONFIG_DEVMEM is not set
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_DEBUG_KERNEL=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_PANIC_TIMEOUT=5
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_S5L8702=y
# CONFIG_MODULES is not set
# CONFIG_BLOCK is not set
# CONFIG_ATA is not set
# CONFIG_SCSI is not set
# CONFIG_MMC is not set
# CONFIG_MTD is not set
# CONFIG_I2C is not set
# CONFIG_SPI is not set
CONFIG_FB=y
CONFIG_FB_S5L8702=y
# CONFIG_SOUND is not set
# CONFIG_WLAN is not set
