Package: com.rockpod.store
Name: RockPod Store
Version: 1.2.3
Architecture: iphoneos-arm
Description: RockPod music store client for iOS 6 and iOS 7.
Maintainer: RockPod
Author: RockPod
Section: Multimedia
Depends: firmware (>= 6.0), co.cocoanuts.gremlin (>= 3.0), co.cocoanuts.gremlinplugins (>= 1.6)
