# OF-Scraper is isolated from RockPod because it requires Python <3.14 and
# pins packages that conflict with RockPod's desktop environment.
ofscraper @ https://files.pythonhosted.org/packages/63/f9/da75207a46501992f1847fdd32fb9b6ceaa843b0db39b1405475b792f2a4/ofscraper-3.14.7-py3-none-any.whl#sha256=2153adbafa13ea338a1023fa15cd17e9f39f97bee742b91c7c9f3d070cc2ff56
