Package: com.rockpod.openlara.compact
Name: OpenLara Compact
Version: 0.1.1
Architecture: iphoneos-arm
Description: Compact OpenLara alpha for iPod touch 4G using Rockbox PKD assets
Maintainer: RockPod
Author: RockPod
Section: Games
Depends: firmware (>= 6.0)
