# .cfg file created by rockbox 9b207bfb91-260325 - http://www.rockbox.org

selector type: bar (color)
statusbar: off
scrollbar: off
scrollbar width: 6
list separator color: 525552
volume display: graphic
battery display: graphic
foreground color: 292829
background color: ffffff
line selector start color: e7e7e7
line selector end color: 000000
line selector text color: 000000
fms: /.rockbox/wps/adwaitapod.fms
font: /.rockbox/fonts/18-Inter-SemiBold.fnt
wps: /.rockbox/wps/iClassic-Square.wps
sbs: /.rockbox/wps/adwaitapod.sbs
backdrop: -
iconset: /.rockbox/icons/adwaitapod.bmp
viewers iconset: /.rockbox/icons/adwaitapod_viewers.bmp
filetype colours: -
ui viewport: -
