# .cfg file created by rockbox -260411 - http://www.rockbox.org

album art: prefer image file
statusbar: off
scrollbar: off
list separator color: 181421
volume display: numeric
foreground color: f7f7ff
background color: 100c10
line selector start color: 292031
line selector end color: 9c79e7
line selector text color: fffbff
backlight on button hold: on
fms: /.rockbox/wps/rockbox_failsafe.fms
wps: /.rockbox/wps/rockbox_failsafe.wps
sbs: /.rockbox/wps/rockbox_failsafe.sbs
backdrop: -
iconset: -
viewers iconset: -
dynamic colors: off
qs top: -
qs left: shuffle
qs right: repeat
qs bottom: -
