# .cfg file created by rockbox 3df1daa3b5M-260425 - http://www.rockbox.org

volume: 6
album art: prefer image file
selector type: pointer
statusbar: off
scrollbar: off
volume display: numeric
show icons: off
backlight on button hold: on
wps: /.rockbox/wps/Galaxy.wps
sbs: /.rockbox/wps/Galaxy.sbs
backdrop: /.rockbox/wps/Galaxy/MenuBackdrop.bmp
qs top: -
qs left: shuffle
qs right: repeat
qs bottom: -
font: /.rockbox/fonts/12-Adobe-Helvetica.fnt
fms: /.rockbox/wps/Galaxy.fms
theme: /.rockbox/themes/Galaxy.cfg
iconset: /.rockbox/icons/tango_small_mono.bmp
viewers iconset: /.rockbox/icons/tango_small_viewers_mono.bmp
ui viewport: 12,32,56,84
background color: 0
foreground color: 3
line selector start color: 1
line selector end color: 1
line selector text color: 3
list separator color: 2
start in screen: root
