# .cfg file created by rockbox 3965387f5aM-260412 - http://www.rockbox.org

volume: 6
scrollbar: right
show icons: off
font: /.rockbox/fonts/11-Sazanami-Mincho.fnt
wps: /.rockbox/wps/sprocketmodern.wps
sbs: /.rockbox/wps/sprocketmodern.sbs
backdrop: -
iconset: -
viewers iconset: -
qs top: -
qs left: shuffle
qs right: repeat
qs bottom: -
