# .cfg file created by rockbox 0159588e1bM-260412 - http://www.rockbox.org

statusbar: off
scrollbar: right
scrollbar width: 8
show icons: off
Disable main menu scrolling: on
database scan paths: /Music
backlight on button hold: on
font: /.rockbox/fonts/14-Rockbox-Mix.fnt
wps: /.rockbox/wps/sprocket1Pod.wps
sbs: /.rockbox/wps/sprocket1Pod.sbs
backdrop: -
iconset: -
viewers iconset: -
qs top: -
qs left: shuffle
qs right: repeat
qs bottom: -
