# .cfg file created by rockbox 2a72f8d3f9-260329 - http://www.rockbox.org

selector type: bar (color)
statusbar: off
scrollbar: off
scrollbar width: 6
list separator color: 525552
volume display: graphic
battery display: graphic
foreground color: ffffff
background color: 000000
line selector start color: 008eff
line selector end color: 000000
line selector text color: ffffff
fms: /.rockbox/wps/adwaitapod_dark.fms
font: /.rockbox/fonts/18-Inter-SemiBold.fnt
wps: /.rockbox/wps/adwaitapod_dark.wps
sbs: /.rockbox/wps/adwaitapod_dark.sbs
backdrop: -
iconset: /.rockbox/icons/adwaitapod_dark.bmp
viewers iconset: /.rockbox/icons/adwaitapod_dark_viewers.bmp
filetype colours: -
ui viewport: -
