<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleDisplayName</key><string>RockPod Store</string>
    <key>CFBundleExecutable</key><string>RockPodStore</string>
    <key>CFBundleIdentifier</key><string>com.rockpod.store</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>RockPodStore</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.2.3</string>
    <key>CFBundleVersion</key><string>123</string>
    <key>CFBundleIconFiles</key><array><string>AppIcon57x57.png</string><string>AppIcon57x57@2x.png</string></array>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>MinimumOSVersion</key><string>6.0</string>
    <key>UIDeviceFamily</key><array><integer>1</integer></array>
    <key>UIRequiredDeviceCapabilities</key><array><string>armv7</string></array>
    <key>UIPrerenderedIcon</key><false/>
    <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
</dict></plist>
