# Theme: iPone Custom (Dark Mode Mod)
# Based on the iClassic Theme by Humberto Santana
# License: Creative Commons Attribution-Share Alike 3.0
# Updated: April 2026
#
# CFG File
#
wps: /.rockbox/wps/iPoneCustom.wps
sbs: /.rockbox/wps/iPoneCustom.sbs
fms: /.rockbox/wps/iPoneCustom.fms
backdrop: -
background color: 100F16
album art: prefer image file
filetype colours: -
font: /.rockbox/fonts/18-Cantarell-Bold.fnt
foreground color: F7F4FA
iconset: /.rockbox/icons/iPoneCustom.bmp
line selector end color: 9D7AE6
line selector start color: 2B2234
line selector text color: FCF9FF
list separator color: 1A1621
scrollbar: off
selector type: bar (gradient)
show icons: on
statusbar: off
ui viewport: -
viewers iconset: -
battery display: graphic
backlight on button hold: normal
list separator height: 1
ipone right pane: miniplayer
album list layout: full

# Lockscreen / Always On Display (AOD)
# - Enable the lockscreen by using the device's Hold switch.
# - For AOD (readable with backlight off), set: Settings -> General Settings -> Display -> LCD Settings -> Backlight on Hold = Off
# - When adjusting "Backlight on Hold/Lock", iPone.sbs shows an on-screen preview (like adwaitapod).
