# .cfg file created by rockbox 9b207bfb91-260325 - http://www.rockbox.org

volume: -16
pitch: 10000
speed: 10000
balance: 0
bass: 0
treble: 0
stereo_width: 100
playback frequency: auto
replaygain type: track shuffle
replaygain noclip: off
replaygain preamp: 0
crossfade: shuffle
crossfade fade in delay: 0
crossfade fade out delay: 0
crossfade fade in duration: 2
crossfade fade out duration: 2
crossfade fade out mode: crossfade
crossfeed: meier
crossfeed direct gain: -45
crossfeed cross gain: -75
crossfeed hf attenuation: -160
crossfeed hf cutoff: 700
dithering enabled: off
surround enabled: off
surround balance: 35
surround_fx1: 3400
surround_fx2: 320
side only: off
surround mix: 50
afr enabled: off
pbe: 0
pbe precut: -25
timestretch enabled: off
compressor threshold: 0
compressor makeup gain: auto
compressor ratio: 4:1
compressor knee: soft knee
compressor attack time: 5
compressor release time: 500
bass cutoff: 1
treble cutoff: 1
