Package: com.rockpod.openlara
Name: OpenLara Touch
Version: 0.1.0
Architecture: iphoneos-arm
Description: Fixed-point OpenLara port for iPod touch 4G with touch and iCade controls
Maintainer: RockPod
Author: RockPod
Section: Games
Depends: firmware (>= 6.0)
