# As in the mvpd.cfg lines begining with a '#'
# denote a comment and will be ignored by the
# mv_player

# A scheme consists of different bmps and a
# 'scheme.config' file. The Bitmaps have to
# be 24 Bit little endian encoded.
# The following Bitmaps are needed:

# 'alphabet.bmp' - Contains all printable ASCII
# Characters, delimeted by a red line. This file
# is used only as a grayscale bitmap. All colours
# are discarded.

# 'background-nano.bmp' and 'background-photo.bmp'
# - Contains background image for the respective
# ipod version.

# 'down_arrow.bmp' and 'up_arrow.bmp'
# - Contains the grayscale image that will be displayed
# if a menu contains more items than will fit on the screen.

# 'selection_shape-nano.bmp' and 'selection_shape-photo.bmp'
# - Contains the grayscale image that will be used to highlight
# the selected menu item.

# All colours specified in the 'scheme.config'
# are in 6 digit Hexadecimal notation.

# The Value of Selection.Bar.Colour defines with which colour
# the grayscale selection bar will be filled.
Selection.Bar.Colour 00FF00

# The Value of Text.Colour defines with which colour
# the normal text will be filled.
Text.Colour E0E0E0

# The Value of Selected.Text.Colour defines with which colour
# the selected menu item will be filled.
Selected.Text.Colour 000000

# The Value of Title.Text.Colour defines with which colour
# the menu titel will be filled.
Titel.Text.Colour 00FF00

# The Value of Arrow.Colour defines with which colour
# the menu arrows will be filled.
Arrow.Colour A0FFA0

# The Value of Menu.Indention defines how many pixel
# the menu entries will be from the left border of the screen.
Menu.Indention 20

# The Value of Menu.Spacing defines how many pixel
# will be added between each menu item.
Menu.Spacing 8

# The Value of Titel.Spacing defines how many pixel
# will be added between the menu titel and the first menu item.
Titel.Spacing 24

# The Value of Menu.Titel.Height defines how many pixel
# will be added between top of the screen and the menu titel
Menu.Titel.Height 8

# The Value of Menu.Titel.Offset defines how many pixel
# the menu titel will be offset from the centre of the screen.
# this value can also be negative
Menu.Titel.Offset -32

# The Value of Bottom.Spacing defines how many pixel
# of free space will be left at the bottom of the screen.
Bottom.Spacing 12

