Package: com.rockpod.link
Name: RockPod Link
Version: 7.3.2
Architecture: iphoneos-arm
Description: RockPod companion with a complete embedded Rockbox/iPodJS simulator, USB internet, media sync and Sitekick
Maintainer: RockPod
Author: RockPod
Section: Utilities
