Package: com.rockpod.directtv
Name: DIRECTV
Version: 0.2.2
Architecture: iphoneos-arm
Description: Offline RockPod Live TV guide for iPod touch 4G
Maintainer: RockPod
Author: RockPod
Section: Multimedia
Depends: firmware (>= 6.0)
